<div class="user-main my-5 mx-4 d-flex justify-content-center">

<div class="card rounded-4 w-100" style="max-width: 600px;">

<h2 class="mt-4 text-center">ログイン</h2>

<div class="card-body">
<%= form_for(@user, url: {controller: 'sessions', action: 'create'}) do |f| %>
  <div class="field my-4">
    <label for="user_email" %>メールアドレス</label>
    <%= f.text_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力", class: "form-control bg-success bg-opacity-10 border-success-subtle" %>
  </div>

  <div class="field my-4">
    <label for="user_password" %>パスワード</label>
    <%= f.text_field :password, type: "password", autocomplete: "current-password", placeholder: "パスワードを入力", class: "form-control" %>
  </div>

  <div class="actions mt-5">
    <%= f.submit "ログイン", class: "btn btn-success btn-success-light w-100" %>
  </div>

<% end %>

  <%= link_to "ゲストログインはこちら", users_guest_sign_in_path, method: :post, class: "btn btn-outline-danger w-100 mt-3 mb-4" %>

  <div class="register-new">
    <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn-register-new" %>
  </div>

</div>
</div>
</div>
