<nav class="navbar navbar-expand-lg">
  <div class="container-fluid header-contents px-3">

    <!-- ヘッダー左側ロゴ -->
    <%= link_to "最強のうどん師", root_path, class: "font-yuji navbar-brand header-logo fs-3 fw-bold" %>

    <!-- ヘッダー右側（ユーザーアイコン + ハンバーガーメニュー） -->

    <!-- ユーザーアイコン + ユーザーネーム（クリックでマイページに遷移） -->
    <% if user_signed_in? %>
      <div class="order-lg-2 ms-auto d-flex align-items-center">

        <!-- タテ線（大画面のみ表示） -->
        <div class="d-none d-lg-block border-start mx-4" style="height: 35px; border-color: #ccc;"></div>

        <%= link_to users_profile_path, class: "text-decoration-none d-flex align-items-center" do %>
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar.variant(resize_to_fill: [50, 50]), class: "rounded-circle ms-2 me-3", alt: "プロフィール画像" %>
          <% else %>
            <i class="bi bi-person-circle text-secondary ms-2 me-3" style="font-size: 40px;"></i>
          <% end %>

          <% if current_user.user_name.present? %>
            <div class="header-username font-yuji d-none d-lg-block text-success fs-5 fw-600 me-3"><%= current_user.user_name %></div>
          <% else %>
            <div class="header-username font-yuji d-none d-lg-block text-success fs-5 fw-600 me-3">ゲスト</div>
          <% end %>
        <% end %>

      </div>
    <% end %>

    <!-- ハンバーガーメニュー -->
    <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- ナビゲーションメニュー -->
    <div class="collapse navbar-collapse order-lg-1" id="headerNavbar">
      <div class="header-links d-flex align-items-start flex-column flex-lg-row ms-lg-auto me-lg-3">
        <% if user_signed_in? %>
        <div class="nav-separator d-lg-none"></div>
          <%= link_to "検索する", stores_path, class: "header-link text-decoration-none text-secondary fs-13 ms-4 my-2" %>
          <%= link_to "口コミ一覧", reviews_path, class: "header-link text-decoration-none text-secondary fs-13 ms-4 my-2" %>
        <div class="nav-separator d-lg-none"></div>
          <%= link_to "最強のうどん師とは", tops_detail_path, class: "header-link text-decoration-none text-secondary fs-13 ms-4 my-2" %>
        <div class="nav-separator d-lg-none"></div>
          <%= link_to "マイページ", users_profile_path, class: "d-lg-none header-link text-decoration-none text-secondary fs-13 ms-4 my-2" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-link text-decoration-none text-danger fs-13 fw-800 ms-4 my-2" %>
        <% else %>
        <div class="nav-separator d-lg-none"></div>
          <%= link_to "検索する", stores_path, class: "header-link text-decoration-none text-secondary fs-13 ms-4 my-2" %>
          <%= link_to "口コミ一覧", reviews_path, class: "header-link text-decoration-none text-secondary fs-13 ms-4 my-2" %>
        <div class="nav-separator d-lg-none"></div>
          <%= link_to "最強のうどん師とは", tops_detail_path, class: "header-link text-decoration-none text-secondary fs-13 ms-4 my-2" %>
        <div class="nav-separator d-lg-none"></div>
          <%= link_to "ログイン", new_user_session_path, class: "header-link text-decoration-none text-secondary fs-13 ms-4 my-2" %>
          <%= link_to "新規登録", new_user_registration_path, class: "header-link text-decoration-none text-secondary fs-13 ms-4 my-2" %>
          <%= link_to "ゲストログインはこちら", users_guest_sign_in_path, method: :post, class: "header-link header-link-guest text-danger fs-13 fw-800 ms-4 my-2" %>
        <% end %>
      </div>
    </div>

  </div>
</nav>
